* {
	margin: 0px;
	padding:  0px;
}
p {
	font-size: 20px;
	font-family: TimesNewRoman;
	font-weight: 900;
	font-variant:  small-caps;
	font-style:  italic;
	direction: ;
	letter-spacing: ;
	word-spacing: ;
	text-indent: ;
	text-align: ;
	text-decoration: none;
	text-transform: uppercase ;
	white-space: normal;
	text-shadow: red 4px 5px 6px;
}
div.content {
	width: 500px;
	height: 500px;
	background-color: pink;
	background-image: url('../img/girl.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	/* background-size: cover; */
	/* border: 5px solid red; */
	border-top: 5px groove red;
	border-bottom-color: blue;
	border-width: 5px;
	border-bottom-style: solid;
}
