/* Universal selector */
/* reset trinh duyet */
*{
	margin: 0;
	padding: 0;
}
/* id selector */
#myTitle {
	color: green;
}
/* class selector */
.title {
	color: blue;
}
/* HTML selector */
h3 {
	color: red;
}
h3 {
	color: yellow;
}

/* attribute selector */
input[name='username']{
	border: 1px solid red;
}
input[class*='ai']{
	border: 1px solid blue;
}
input[class|='my']{
	border: 1px solid yellow;
}
/* the p la the con truc tiep cua the div co class la box */
div.box > p {
	color: blue;
}
/* the p la the nam ben trong cua the div co class la box */
div.box p {
	color: pink;
}
div.box > h4 + p.p1{
	color: red;
}
div.box-2 + div.box-3 > div.child-1 + div.child-2 > div.child-4 ~ div.child-5 div.child-6 > h1.title

