

li {
	float: left;
	text-align: center;
	border: 1px solid black;
	list-style: none;
	padding: 10px 15px;
	background-color: #CCCCCC;
}
.menu {
	text-align: center;
	background-color: yellow;

}
a {
	text-decoration: none;
}
